

h2{
    margin: 20px;
    display: flex;
    max-width: 100%;
    justify-content: center;
    text-align: center;
    color: #b56576;

}
form{
    display: flex;
    flex-direction:column;
    justify-content: center;
    max-width: 100%;
    align-items: center;
    color: #b56576;
    border: solid 4px #84a59d;
    padding: 20px 0;
    margin: 50px;
}